.app {
  display: grid;

  gap: 8px;
}

.icon-holder {
  position: relative;
}

.color-swatch-preview {
  position: absolute;
  right: 0;
  bottom: 0;

  transform: translate(25%, 25%);

  z-index: 1;
}
