.controls-bar {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  padding: 8px 0;
}

[data-theme="dark"] .controls-bar {
  background-color: var(--db-primary);
}

[data-theme="light"] .controls-bar {
  background-color: var(--lb-primary);
}
