.controls-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: var(--spacing-4) 0;
}

.controls-bar.grow-first > :first-child {
  flex-grow: 1;
}

.controls-bar.sticky {
  position: sticky;
  top: 0;
}

[data-theme="dark"] .controls-bar {
  background-color: var(--db-primary);
}

[data-theme="light"] .controls-bar {
  background-color: var(--lb-primary);
}
