.controls-bar {
  display: flex;

  padding: 8px 0;
}

.controls-bar > :first-child {
  flex-grow: 1;
}

.controls-bar.sticky {
  position: sticky;
  top: 0;
}

[data-theme="dark"] .controls-bar {
  background-color: var(--db-primary);
}

[data-theme="light"] .controls-bar {
  background-color: var(--lb-primary);
}
