.link-tag {
  display: flex;
  align-items: center;

  border-radius: var(--spacing-4);

  padding: var(--spacing-4);

  text-decoration: none;
  cursor: pointer;
}

.link-tag[class*="body-"] {
  line-height: 1;
}

[data-theme="dark"] .link-tag {
  background: var(--db-tertiary);
  color: var(--df-secondary);
}

[data-theme="light"] .link-tag {
  background: var(--lb-tertiary);
  color: var(--lf-secondary);
}
